
<%- include('partials/header') -%>
 
  <h2 class="categoryTitle centered"><%=posts[0].category[0].toUpperCase() + posts[0].category.slice(1) %></h1>
  <ul class="categoryContainer">
    <% for(var i=0; i<posts.length; i++) {%>
      <% if (posts[i].available==true) { %>
        <li class="categoryCard">
          <a class="" href="/<%= posts[i]._id%>">
            <img 
            class="categoryImg" 
            src="<%= posts[i].mainImageURL%>"
            data-mainimg = "<%=posts[i].mainImageURL%>"
            data-gallery="<%= posts[i].galleryImages[0]['url'] %>" >
            <p class="prodTitle centered"><%= posts[i].title %></p>
            <div class="centered">
              <% if (posts[i].onSale==true) { %>
                <p class=""><s>$<%=  Number.parseFloat(posts[i].price).toFixed(2) %></s></p> 
                <p class="">$<%=  Number.parseFloat(posts[i].price - posts[i].discount).toFixed(2) %></p>                   
              <% } else { %>
                <p class="">$<%= Number.parseFloat(posts[i].price).toFixed(2) %></p> 
              <% } %>
            </div>
          </a>
          </li>
      <% } %>
    <% } %>
  </ul>
  
  <a href="/cart" class="shopping-cart" data-product-count= '0'>
    <span class="cart-icon">&#128722;</span>
  </a>
  <script>
    let productCount = 0;
    if (localStorage.getItem("count")) {
      productCount = parseInt(localStorage.getItem("count"));
    }
    document.querySelector('.shopping-cart').setAttribute('data-product-count', productCount)
  </script>

<script src="/category.js"></script>
<%- include('partials/footer') -%>
