<!DOCTYPE HTML>

<html>
	<head>
		<title>Hunter's Wheel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/Eric Meyers Reset.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon.png"/>
		<script src="https://kit.fontawesome.com/42df4c29ec.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
	</head>
	<body class="is-preload">

<!-- Header -->
		<header class="header">
			<a href="/">
				<h1 class = 'title centered'>The Hunter's Wheel</h1>
			</a>
			<nav class="customNav">
				<div class="dropdownContainer">
					<button class="link" id="dropdownButton">Shop</button>
					<div id="dropdownContent" class ="dropdownContent" role="menu"
					aria-hidden="true">
						<a href="/category/cups" role="menuitem">Cups</a>
						<a href="/category/bowls" role="menuitem">Bowls</a>
						<a href="/category/plates" role="menuitem">Plates</a>
						<a href="/category/just%20art" role="menuitem">Just Art</a>
					</div>
				</div>
				<a class = "link" href="/about">About</a>
				<a class = "link shopping-cart-nav" href="/cart">Cart</a>
			</nav>
		</header>
	
		<img class='heroImgFrontPage' src="../../images/tools.jpg" alt="">

<!-- First -->
	<section class="">
		<h2 class="tagline centered">Don't just buy art. Use it!</h2>	
	</section>
<!-- Second -->
	<section class="">
		<h3 class="centered secondHeader">My Work</h3>
		<ul class="imageGrid">
			<!-- displayed favorite posts -->
			<% for(let i=0; i<posts.length; i++) {%>
				<!-- Start of list item -->
				<% if (posts[i].available==true) { %>
				<% if (posts[i].favorite) { %>
					<li class="productCard" id ="<%= posts[i].id %>" >
						<a href="/<%= posts[i]._id%>" class="">
						<img class="frontpageImg" src="<%= posts[i].mainImageURL%>">
						</a>
						<!-- image and anchor -->
						
					</li>
				<% } %>
				<% } %>
			<% } %>
			<!-- non-favorite posts initially hidden -->
			<% for(let i=0; i<posts.length; i++) {%>
				<!-- Start of list item -->
				<% if (posts[i].available==true) { %>
				<!-- displayed favorite posts -->
				<% if (posts[i].favorite === false) { %>
					<li class="productCard hidden" id ="<%= posts[i].id %>" >
						<a href="/<%= posts[i]._id%>" class="">
						<img class="frontpageImg" src="<%= posts[i].mainImageURL%>">
						</a>
						<!-- image and anchor -->
						
					</li>
				<% } %>
				<% } %>
			<% } %>
		</ul>			
		<div class="centered">
			<button class="seeMoreButton ghostButton">See More<span>See More</span></button>
		</div>
	</section>

<!-- Third -->


<!-- Footer -->
	<section class="footer">
		<ul class="icons">
			<li><a href="#" class=""><i class="fa-brands fa-instagram"></i></a></li>
			<li><a href="#" class=""><i class="fa-brands fa-linkedin"></i></a></li>				
			<li><a href="#" class=""><i class="fa-brands fa-github"></i></a></li>
		</ul>
	</section>

<!-- Scripts -->
	<script>
		let productCount = 0;
		if (localStorage.getItem("count")) {
			productCount = parseInt(localStorage.getItem("count"));
		}
		let navCart = document.querySelector('.shopping-cart-nav')
		if (productCount > 0) {
			navCart.setAttribute('data-product-count', productCount);
		}
	</script>
	<script src="/index.js"></script>
	<script src="/header.js"></script>
	<!-- <script src="assets/js/main.js"></script> -->

	</body>
</html>