<%- include('partials/header') -%>
      
      <section class="authContainer">

        <% if (locals.messages.errors) { %> 
          <% messages.errors.forEach( el => { %>
            <div class="alertDanger centered">
              <%= el.msg %>
            </div>
          <% }) %> 
        <% } %> 
        <% if (locals.messages.info) { %> 
          <% messages.info.forEach( el => { %>
            <div class="alertInfo centered">
              <%= el.msg %>
            </div>
          <% }) %> 
        <% } %>
        <!-- weird behavior (two message info divs/ one empty) when password reset because errors arent sent in an array like in regular validation but i dont really care to fix it -->
        <% if (messages.info) { %> 
          <div class="centered alertInfo">
            <%= messages.info %>
          </div>
        <% } %> 

        <form action="/admin/login" method="POST" class="centered">
          <div class="">
            <label for="email" class="">Email address</label>
            <input
              type="email"
              class=""
              aria-describedby="emailHelp"
              name="email"/>
          </div>
          <div class="">
            <label for="password" class="">Password</label>
            <input
              type="password"
              class="" 
              name="password"/>
          </div>
          <button type="submit" class="">Submit</button>
          <a href="/admin/forgotPassword" class="forgotPassword">forgot password?</a>
        </form>
      </section>
      
   

    <%- include('partials/footer') -%>
