<%- include('partials/header') -%>

  <div class="container postContainer">
    <div class="IMAGES">
      <h2 class="postTitle"><%= post.title %></h2>
      <div class="mainImageContainer">
        <img class="img-fluid mainImage" id ="leadImage" src="<%= post.mainImageURL%>" />
        <% if (post.galleryImages.length>0) { %>
          <div class="galleryContainer">
            <% for(let i = 0; i < post.galleryImages.length; i++) { %>
              <img class="gallery" src = "<%= post.galleryImages[i]['url'] %>">
            <% } %>
          </div>
        <% } %>
        <a class="btn btn-outline-success my-4" href="/category/<%= post.category %>">Keep Looking</a>
      </div>
    </div>
    <div class="postInfo">
      <p class=""><%= post.caption %></p>
      <% if (post.onSale==true) { %>
        <p class=""><s>$<%= Number.parseFloat(post.price).toFixed(2) %></s></p> 
        <p class="text-success">On Sale $<%= Number.parseFloat(post.price - post.discount).toFixed(2) %></p>                   
      <% } else { %>
        <p class="">$<%= Number.parseFloat(post.price).toFixed(2) %></p> 
      <% } %>
      
      <button class="btn btn-outline-success cartButton add-to-cart" data-id="<%= post._id %>" data-img="<%= post.mainImageURL %>" data-price="<%= Number.parseFloat(post.price - post.discount).toFixed(2) %>" data-title="<%= post.title %>">Add to Cart</button>
      <a href= '/cart' class="btn btn-outline-success">Checkout</a>
    </div>
        
    <a href="/cart" class="shopping-cart" data-product-count= '0'>
      <span class="cart-icon">&#128722;</span>
    </a>
  </div>
</body>
<script>
  let productCount = 0;
  if (localStorage.getItem("count")) {
      productCount = parseInt(localStorage.getItem("count"));
  }
  document.querySelector('.shopping-cart').setAttribute('data-product-count', productCount)
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="/main.js"></script>
</html>
