<%- include('partials/header') -%>

<h2 class="postTitle"><%= post.title %></h2>
<div class="postContainer centered">
  <div class="IMAGES">
    <img class="mainImage" id ="leadImage" src="<%= post.mainImageURL%>" />
    <% if (post.galleryImages.length>0) { %>
      <div class="galleryContainer">
        <% for(let i = 0; i < post.galleryImages.length; i++) { %>
          <img class="gallery" src = "<%= post.galleryImages[i]['url'] %>">
        <% } %>
      </div>
    <% } %>
  </div>
  <div class="postInfo price"> 
    <p class="caption"><%= post.caption %></p>

    <% if (post.dimensions) { %>
      <p class="dimensions">Dimensions <%= post.dimensions %></p> 
    <% } %>
    <% if (post.onSale==true) { %>
      <p class=""><s>$<%= Number.parseFloat(post.price).toFixed(2) %></s></p> 
      <p class="">On Sale -$<%= Number.parseFloat(post.discount).toFixed(2) %></p>                   
      <p class="price">Your Price $<%= Number.parseFloat(post.price - post.discount).toFixed(2) %></p>                   
    <% } else { %>
      <p class="price">$<%= Number.parseFloat(post.price).toFixed(2) %></p> 
    <% } %>
        
    <div class="addToCartForm">
      <label for="selectQty" class="quantityLabel">Quantity</label>
      <select id="selectQty" name="selectQty" class = 'selectQty'>
        <% for (let i = 1; i<=post.quantity; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>

      <div class="buttonContainer">
        <button 
        type='button' 
        class="cartButton ghostButton" 
        data-stock = "<%=post.quantity%>"
        data-id="<%= post._id %>" 
        data-price="<%= Number.parseFloat(post.price - post.discount).toFixed(2) %>">Add to Cart<span>Add to Cart</span></button>
        <a href= '/cart' class="ghostButton checkout">Checkout<span>Checkout</span></a>
      </div>

      <a class="keepLooking ghostButton" href="/category/<%= post.category %>">Keep Looking<span>Keep Looking</span></a>
    </div>
  </div>
  <a href="/cart" class="shopping-cart" data-product-count= '0'>
    <span class="cart-icon">&#128722;</span>
  </a>
</div>
<script>
  let productCount = 0;
  if (localStorage.getItem("count")) {
      productCount = parseInt(localStorage.getItem("count"));
  }
  document.querySelector('.shopping-cart').setAttribute('data-product-count', productCount)
</script>

<script src="/post.js"></script>
<%- include('partials/footer') -%>
