<%- include('partials/header') -%>

<section class="authContainer centered">
  <% if (messages.errors) { %> 
    <% messages.errors.forEach( el => { %>
      <div class="alertDanger centered">
        <%= el.msg %>
      </div>
    <% }) %> 
  <% } %> 
  <% if (messages.info) { %> 
    <% messages.info.forEach( el => { %>
      <div class="alertInfo centered">
        <%= el.msg %>
      </div>
    <% }) %> 
  <% } %>
 
  <form action="/admin/updatePassword" method="POST" class="">
    
      <input type="hidden" name="token" value="<%= token %>" />
      <div>
        <label for="newPassword" class=""
          >New Password</label>
          <input
          type="password"
          class=""
          id="password"
          name="password"
          />
      </div>
      <div>
        <label for="newPassword" class=""
            >Confirm New Password</label>
        <input
          type="password"
          class=""
          id="confirmPassword"
          name="confirmPassword"
        />
      </div>
    
    <button type="submit" id = 'newPasswordUpdateButton' class="">Submit</button>
  </form>
</section>
  

<%- include('partials/footer') -%>